.body {
  font-family: "Roboto", sans-serif;
  color: #484848;
}
.section {
  max-width: 860px;
  margin: 0 auto;
  padding: 0.5rem;
}
.p {
  line-height: 1.8rem;
  font-size: 1.1rem;
  margin: 0.5rem 0 2.5rem;
}
.h1 {
  font-size: 2.5rem;
  margin: 0;
}
.h2 {
  font-size: 1rem;
  font-weight: 300;
}
.h3 {
  font-size: 1.5rem;
  margin: 0;
}
.hero-section {
  text-align: center;
  border-bottom: 3px solid #429cd6;
  padding: 2rem 0;
  width: 100%;
}
.section-container {
  width: 100%;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: -1px;
  background: white;
  margin-bottom: 1rem;
  color: #e1e1e1;
}
.sticky-section div {
  font-size: 2rem;
  padding: 0.25rem 0;
  font-weight: 900;
}
.img-container {
  max-width: 100px;
  margin: 0 auto;
  padding-bottom: 2rem;
}
